<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New</title>
    <div th:replace="base :: headerfg"></div>
</head>
<body>
<div th:replace="base :: navlinksfg"></div>
<h1>[[${message}]]</h1>
<form action="#" th:action="@{/listAll}" th:object="${employee}" method="post">
    <div>Employee ID: <input type="text" th:field="*{id}"/> <br/></div>
    <div>First Name: <input type="text" th:field="*{firstName}"/> <br/></div>
    <div>Last Name: <input type="text" th:field="*{lastName}"/> <br/></div>
    <input type="submit" value="Submit">
</form>
<div th:replace="base :: footerfg"></div>
</body>
</html>